/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4259)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [WarehouseDB]    Script Date: 27.06.2020 14:41:43 ******/
CREATE DATABASE [WarehouseDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\WarehouseDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WarehouseDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\WarehouseDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseDB]
GO
USE [WarehouseDB]
GO
/****** Object:  Table [dbo].[DimDatum]    Script Date: 27.06.2020 14:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDatum](
	[Datum] [date] NOT NULL,
	[Feiertag] [bit] NULL,
	[Kalenderwoche] [varchar](50) NULL,
	[Wochentag] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimOrganisationen]    Script Date: 27.06.2020 14:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimOrganisationen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ Name] [varchar](100) NULL,
	[ Staat] [varchar](100) NULL,
	[ Bundesland] [varchar](100) NULL,
	[ Bezirk] [varchar](100) NULL,
 CONSTRAINT [PK_Organisationen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPersonen]    Script Date: 27.06.2020 14:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPersonen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonNrOrig] [int] NOT NULL,
	[Vorname] [nvarchar](50) NULL,
	[Nachname] [nvarchar](50) NULL,
	[GebDat] [date] NULL,
	[Alter] [int] NOT NULL,
	[Geschlecht] [nvarchar](4) NULL,
	[Art] [nvarchar](50) NULL,
	[Verlauf] [nvarchar](10) NULL,
	[HauptwohnsitzBundesland] [nvarchar](20) NULL,
 CONSTRAINT [PK_Personen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimVeranstaltungen]    Script Date: 27.06.2020 14:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimVeranstaltungen](
	[VerantstaltungsNr] [int] IDENTITY(1,1) NOT NULL,
	[Veranstaltungsname] [nvarchar](50) NULL,
	[WS] [numeric](10, 2) NULL,
	[Studiengangsname] [nvarchar](50) NULL,
	[Studienrichtung] [nvarchar](50) NULL,
	[Veranstaltungsart] [nvarchar](50) NULL,
	[VortragenderFK] [int] NULL,
 CONSTRAINT [PK_Veranstaltungen] PRIMARY KEY CLUSTERED 
(
	[VerantstaltungsNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactEvaluierungen]    Script Date: 27.06.2020 14:41:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactEvaluierungen](
	[EvaluierungNr] [int] IDENTITY(1,1) NOT NULL,
	[PersonNrFK] [int] NULL,
	[VerantstaltungNrFK] [int] NULL,
	[Datum] [date] NULL,
	[AufbauUndGliederungDerLerhveranstaltung] [int] NULL,
	[LehrveranstaltungsleitungKompetenz] [int] NULL,
	[LehrveranstaltungsleitungEingehenAufFragen] [int] NULL,
	[BesondersGut] [nvarchar](50) NULL,
	[Alter] [int] NULL,
	[OrganisationFk] [int] NULL,
	[QualitaetDerUnterlagen] [int] NULL,
	[VortragenderFK] [int] NULL,
 CONSTRAINT [PK_Evaluierungen] PRIMARY KEY CLUSTERED 
(
	[EvaluierungNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DimDatum] ([Datum], [Feiertag], [Kalenderwoche], [Wochentag]) VALUES (CAST(N'2020-01-03' AS Date), 0, N'1', N'6')
INSERT [dbo].[DimDatum] ([Datum], [Feiertag], [Kalenderwoche], [Wochentag]) VALUES (CAST(N'2020-01-07' AS Date), 0, N'2', N'3')
INSERT [dbo].[DimDatum] ([Datum], [Feiertag], [Kalenderwoche], [Wochentag]) VALUES (CAST(N'2020-02-02' AS Date), 0, N'6', N'1')
SET IDENTITY_INSERT [dbo].[DimOrganisationen] ON 

INSERT [dbo].[DimOrganisationen] ([ID], [ Name], [ Staat], [ Bundesland], [ Bezirk]) VALUES (1, N' FH Campus02', N' AT', N' Steiermark', N' Graz')
INSERT [dbo].[DimOrganisationen] ([ID], [ Name], [ Staat], [ Bundesland], [ Bezirk]) VALUES (2, N' FH Johanneum', N' AT', N' Steiermark', N' Graz')
INSERT [dbo].[DimOrganisationen] ([ID], [ Name], [ Staat], [ Bundesland], [ Bezirk]) VALUES (3, N' TU Wien', N' AT', N' Wien', N' 12. Bezirk')
SET IDENTITY_INSERT [dbo].[DimOrganisationen] OFF
SET IDENTITY_INSERT [dbo].[DimPersonen] ON 

INSERT [dbo].[DimPersonen] ([ID], [PersonNrOrig], [Vorname], [Nachname], [GebDat], [Alter], [Geschlecht], [Art], [Verlauf], [HauptwohnsitzBundesland]) VALUES (1, 1, N'VornameA', N'NachnameA', CAST(N'1995-12-10' AS Date), 25, N'Frau', N'Lehrpersonal', N'Aktuell', N'Steiermark          ')
INSERT [dbo].[DimPersonen] ([ID], [PersonNrOrig], [Vorname], [Nachname], [GebDat], [Alter], [Geschlecht], [Art], [Verlauf], [HauptwohnsitzBundesland]) VALUES (2, 2, N'VornameB', N'NachnameB', CAST(N'1996-01-03' AS Date), 24, N'Mann', N'Lehrpersonal', N'Aktuell', N'Burgenland          ')
INSERT [dbo].[DimPersonen] ([ID], [PersonNrOrig], [Vorname], [Nachname], [GebDat], [Alter], [Geschlecht], [Art], [Verlauf], [HauptwohnsitzBundesland]) VALUES (3, 3, N'VornameC', N'NachnameC', CAST(N'1990-05-07' AS Date), 30, N'Mann', N'StudentIn', N'Aktuell', N'Kärnten             ')
SET IDENTITY_INSERT [dbo].[DimPersonen] OFF
SET IDENTITY_INSERT [dbo].[DimVeranstaltungen] ON 

INSERT [dbo].[DimVeranstaltungen] ([VerantstaltungsNr], [Veranstaltungsname], [WS], [Studiengangsname], [Studienrichtung], [Veranstaltungsart], [VortragenderFK]) VALUES (1, N'Veranstaltung1', CAST(4.00 AS Numeric(10, 2)), N'Studiengang A', N'Informatik', N'Vorlesung', 2)
INSERT [dbo].[DimVeranstaltungen] ([VerantstaltungsNr], [Veranstaltungsname], [WS], [Studiengangsname], [Studienrichtung], [Veranstaltungsart], [VortragenderFK]) VALUES (2, N'Veranstaltung2', CAST(4.00 AS Numeric(10, 2)), N'Studiengang A', N'Informatik', N'Vorlesung', 1)
INSERT [dbo].[DimVeranstaltungen] ([VerantstaltungsNr], [Veranstaltungsname], [WS], [Studiengangsname], [Studienrichtung], [Veranstaltungsart], [VortragenderFK]) VALUES (3, N'Veranstaltung3', CAST(4.00 AS Numeric(10, 2)), N'Studiengang A', N'Informatik', N'Proseminar', 1)
SET IDENTITY_INSERT [dbo].[DimVeranstaltungen] OFF
SET IDENTITY_INSERT [dbo].[FactEvaluierungen] ON 

INSERT [dbo].[FactEvaluierungen] ([EvaluierungNr], [PersonNrFK], [VerantstaltungNrFK], [Datum], [AufbauUndGliederungDerLerhveranstaltung], [LehrveranstaltungsleitungKompetenz], [LehrveranstaltungsleitungEingehenAufFragen], [BesondersGut], [Alter], [OrganisationFk], [QualitaetDerUnterlagen], [VortragenderFK]) VALUES (1, 3, 2, CAST(N'2020-01-07' AS Date), 8, 10, 10, N'Projekt', 30, 1, 9, 1)
INSERT [dbo].[FactEvaluierungen] ([EvaluierungNr], [PersonNrFK], [VerantstaltungNrFK], [Datum], [AufbauUndGliederungDerLerhveranstaltung], [LehrveranstaltungsleitungKompetenz], [LehrveranstaltungsleitungEingehenAufFragen], [BesondersGut], [Alter], [OrganisationFk], [QualitaetDerUnterlagen], [VortragenderFK]) VALUES (2, 3, 3, CAST(N'2020-03-04' AS Date), 7, 6, 8, N'Pausenorganisation', 30, 1, 6, 1)
INSERT [dbo].[FactEvaluierungen] ([EvaluierungNr], [PersonNrFK], [VerantstaltungNrFK], [Datum], [AufbauUndGliederungDerLerhveranstaltung], [LehrveranstaltungsleitungKompetenz], [LehrveranstaltungsleitungEingehenAufFragen], [BesondersGut], [Alter], [OrganisationFk], [QualitaetDerUnterlagen], [VortragenderFK]) VALUES (3, 4, 2, CAST(N'2020-01-03' AS Date), 9, 7, 10, N'Projekt', 24, 1, 4, 1)
SET IDENTITY_INSERT [dbo].[FactEvaluierungen] OFF
/****** Object:  Index [UQ__DimDatum__BFFE0785CCB737FC]    Script Date: 27.06.2020 14:41:43 ******/
ALTER TABLE [dbo].[DimDatum] ADD UNIQUE NONCLUSTERED 
(
	[Datum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactEvaluierungen]  WITH CHECK ADD  CONSTRAINT [FK_FactEvaluierungen_DimDatum] FOREIGN KEY([Datum])
REFERENCES [dbo].[DimDatum] ([Datum])
GO
ALTER TABLE [dbo].[FactEvaluierungen] CHECK CONSTRAINT [FK_FactEvaluierungen_DimDatum]
GO
ALTER TABLE [dbo].[FactEvaluierungen]  WITH CHECK ADD  CONSTRAINT [FK_FactEvaluierungen_DimOrganisationen] FOREIGN KEY([OrganisationFk])
REFERENCES [dbo].[DimOrganisationen] ([ID])
GO
ALTER TABLE [dbo].[FactEvaluierungen] CHECK CONSTRAINT [FK_FactEvaluierungen_DimOrganisationen]
GO
ALTER TABLE [dbo].[FactEvaluierungen]  WITH CHECK ADD  CONSTRAINT [FK_FactEvaluierungen_DimPersonen] FOREIGN KEY([PersonNrFK])
REFERENCES [dbo].[DimPersonen] ([ID])
GO
ALTER TABLE [dbo].[FactEvaluierungen] CHECK CONSTRAINT [FK_FactEvaluierungen_DimPersonen]
GO
ALTER TABLE [dbo].[FactEvaluierungen]  WITH CHECK ADD  CONSTRAINT [FK_FactEvaluierungen_DimVeranstaltungen] FOREIGN KEY([VerantstaltungNrFK])
REFERENCES [dbo].[DimVeranstaltungen] ([VerantstaltungsNr])
GO
ALTER TABLE [dbo].[FactEvaluierungen] CHECK CONSTRAINT [FK_FactEvaluierungen_DimVeranstaltungen]
GO
USE [master]
GO
